* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'montserrat', sans-serif;
    background: #e5e9f2;
    text-decoration: none;
    


}
ul li {
    font-size: 18px;
    font-weight: 400;
}
p{
    font-weight: 100;
    font-size: 16px;
}
nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1em;

    position: absolute;
    width: 100%;
    height: 3em;
    left: 0px;
    top: 0px;

    background: linear-gradient(269.32deg, #EA7A3B -35.65%, #3B42EA 64.81%);
    box-shadow: 0px 3px 22px rgba(0, 0, 0, 0.25);

    text-transform: uppercase;
    color: white;
}
nav a {
    padding-right: 3em;
    padding-bottom: 1em;
    text-decoration: none;

}

a:link {
    color: white;
    font-weight: 400;
}
a:visited{
    color: whitesmoke;
    font-weight: 800px;
}
.contenedor {
    display: flex;
    justify-content: space-around;
}
    

.principal{
    display: flex;
    justify-content: center;
}
.principal img {
     width: 7em;
     height: 7em;
     border-radius: 100%;
     margin-top:8em;
     margin-right: 5em;
    

}
.general{
    margin-left: 4em;
}

.contacto img {
    width: 1em;
    padding-right: 00.5em;
}

ul {
    list-style-type: none;
}
section {
       width: 70em;
}
aside {
    background-color:#D8D6D6;
    margin-left: -2em;
    padding-left: 5em;
    padding-right: 3em;
    padding-top: 8em;
    padding-bottom: 7em;
}

nav img {
    width: 2em;
    padding-right: 0.5em;
    margin-bottom: -0.5em;
}

h1{
    color: #3B42EA;
    font-size: 48px;
    font-weight: 300;
    padding: 2em;
    margin-top: 1em;
}
h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    color: #EA7A3B;
}

.contacto {
    margin-left: 2em;

}
.habilidades{
    padding-top: 1em;
    margin-left: 2em;
}
.habilidades ul li img {
    width: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: -1em;
}  

.habilidades ul li p{
    margin-left: 4.5em;
}
.idiomas{
    padding-top: 1em;
}
.idiomas {
    margin-left: 2em;
}
.hobbies{
    padding-top: 1em;
    margin-left: 2em;
}